@import url('https://fonts.googleapis.com/css2?family=Bitter&family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Orelega+One&display=swap');

div.colors {
    border: 2px solid #1d425f;
    margin-bottom: 10px;
}

div.styles {
    border: 2px solid #1d425f;
    margin-bottom: 10px;
}

div.fonts {
    border: 2px solid #1d425f;
    margin-bottom: 10px;
}

.color1 {
    background-color: #c44301;
    height: 100px;
    width: 200px;
    margin: 5px;
    text-align: center;
    display: inline-block;
}

.color2 {
    background-color: #fe9b2f;
    height: 100px;
    width: 200px;
    margin: 5px;
    text-align: center;
    display: inline-block;
}

.color3 {
    background-color: #f6e7c6;
    height: 100px;
    width: 200px;
    margin: 5px;
    text-align: center;
    display: inline-block;
}

.color4 {
    background-color: #185b76;
    height: 100px;
    width: 200px;
    margin: 5px;
    text-align: center;
    display: inline-block;
}

.color5 {
    background-color: #1d425f;
    height: 100px;
    width: 200px;
    margin: 5px;
    text-align: center;
    display: inline-block;
}

h1, h2, .orelega{
    font-family: 'Orelega One', cursive;
}

p, .bitter {
    font-family: 'Bitter', serif;
}

li, .eb {
    font-family: 'EB Garamond', serif;
}