div.colors {
    border: 2px solid #1d425f;
}

.color1 {
    background-color: #c44301;
    height: 100px;
    width: 200px;
    margin: 5px;
    text-align: center;
    display: inline-block;
}

.color2 {
    background-color: #fe9b2f;
    height: 100px;
    width: 200px;
    margin: 5px;
    text-align: center;
    display: inline-block;
}

.color3 {
    background-color: #f6e7c6;
    height: 100px;
    width: 200px;
    margin: 5px;
    text-align: center;
    display: inline-block;
}

.color4 {
    background-color: #185b76;
    height: 100px;
    width: 200px;
    margin: 5px;
    text-align: center;
    display: inline-block;
}

.color5 {
    background-color: #1d425f;
    height: 100px;
    width: 200px;
    margin: 5px;
    text-align: center;
    display: inline-block;
}