.color1 {
    background-color: #c44301;
}

.color2 {
    background-color: #fe9b2f;
}

.color3 {
    background-color: #f6e7c6;
}

.color4 {
    background-color: #185b76;
}

.color5 {
    background-color: #1d425f;
}