h1, h2, h3, p {
    font-family: helvetica;
}

h1 {
    background-image: url(./pattern.webp);
    color: khaki;
    text-align: center;
    font-weight: bold;
    font-size: 100px;
}

h2 {
    color: white;
    font-weight: bold;
    font-size: 32px;
}

.brush h2 {
    background-color: mediumspringgreen;
}

.frame h2 {
    background-color: lightcoral;
}

.paint h2 {
    background-color: skyblue;
}

.price {
    color: blue;
    font-weight: bold;
}